h1{
    text-align: center;
    margin-top: 3%;
}

#start{
    margin-left: 47%;
    margin-top:  10%;
    padding: 10px;
}

.question{
    text-align: center;
    padding: 10px;
}

.answers{
    text-align: center;
}
